/* Y: #fdf49a; */
/* B: #364F6B; */

header {
  background-color: #fdf49a;
}

.logo img {
  /* width: 25rem; */
}

.navbar {
  align-items: center;
  justify-content: space-between;
}

.menu li {
  margin: 1rem 2rem;
}