/* Y: #fdf49a; */
/* B: #364F6B; rgb(54, 79, 107) */

header {
  background-color: #fdf49a;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navbar__logo {
  width: 8rem;
}

.navbar__desktop__menu {
  display: none;
}

.navbar__mobile__menu {
  color: #364f6b;
  padding-right: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  header {
    background-color: gold;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    background-color: greenyellow;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    background-color: lightblue;
    /* background-color: #fdf49a; */
  }

  .navbar__mobile__menu {
    display: none;
  }

  .navbar__logo {
    width: 15rem;
  }

  .navbar__desktop__menu {
    display: flex;
    align-items: center;
  }
  
  .navbar__desktop__menu a {
    color: #364F6B;
    margin: 0.5rem;
    transition: 0.5s ease-in-out;
  }

  .navbar__desktop__menu a:hover {
    background-color: #364F6B;
    color: #FFF;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    background-color: turquoise;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  header {
    background-color: deepskyblue;
  }
}