/* Y: #fdf49a; */
/* B: #364F6B; */

header {
  background-color: #fdf49a;
}

.navbar {
  padding: 1rem;
}

.navbar__desktop {
  display: none;
}

.navbar__mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__mobile__logo {
  width: 8rem;
}

.navbar__mobile__menu {
  padding-right: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  header {
    background-color: gold;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    background-color: greenyellow;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    /* background-color: lightblue; */
  }

  .navbar__mobile {
    display: none;
  }

  .navbar__desktop {
    display: flex;
    justify-content: space-between;
  }

  .navbar__desktop__logo {
    width: 10rem;
  }

  .navbar__desktop__menu {
    display: flex;
    align-items: center;
    font-family: "Work Sans", Arial, sans-serif;
  }

  .navbar__desktop__menu li {
    color: #364F6B;
    margin: 1rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    background-color: turquoise;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  header {
    background-color: deepskyblue;
  }
}