.main-content__header {
    margin-bottom: 1rem;
}

.flavours {
    display: flex;
    flex-wrap: wrap;
}

.flavours__flavour {
    background-color: papayawhip;
    width: 80%;
    padding: 2rem;
    margin: 1rem auto;
}

.flavours__image {
    background-color: paleturquoise;
    margin: auto;
    width: 10rem;
    height: 15rem;
}

.flavours__name {
    font-size: 1rem;
    font-weight: 800;
    margin-top: 2rem;
}

.flavours__description {
    margin: 0.5rem 0;   
}

.flavours__description, .flavours__price {
    font-size: 0.8rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .flavours__flavour {
        flex: 0 0 40%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .flavours {
        margin: 2rem 10%;
    }

    .flavours__flavour {
        flex: 0 0 30%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}