.main-content {
    margin: 2rem;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 35vh;
    padding: 1rem 0;
}

.cta__heading {
    font-family: 'DM Serif Text', serif; 
    font-size: 1.5rem;
    line-height: 1;
}

.cta__subheading {
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0;
}

.cta__btn {
    background-color: #fccb6f;
    text-align: center;
    padding: 1rem;
    width: 60%;
}

img {
    width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .cta {
        padding: 6rem;
    }
    
    .cta__btn {
        width: 40%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-content {
        display: flex;
    }

    .cta, .home-image {
        width: 50%;
    }

    .cta__btn {
        transition: transform 350ms;
        margin: 1rem 0;
        width: 40%;
    }

    .cta__btn:hover {
        transform: translateY(-5px);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}